<!Doctype html>
<html lang="en" ng-app="uglyApp">

<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Ugly Things</title>
</head>

<body>
    <div class="container-fluid" ng-controller="MainController">
        <div class="mainBody">
           <form name="itemInfoForm" ng-submit="addItem(item)">
            <input type="text" name="title" class="input col-md-4" ng-model="item.title" placeholder="Label">
            <input type="text" name="desc" class="input col-md-4" ng-model="item.description" placeholder="Description">
            <input type="text" name="img" class="input col-md-4" ng-model="item.imgUrl" placeholder="URL">
            <input type="submit" class="submitBtn" value="Add Ugly Item"/>
            </form>
        </div>
        <div class="itemsBody">
        <div class="items" ng-repeat="items in itemArray">
            <div><h1>{{items.title}}</h1><br><h3>{{items.description}}</h3>
            </div>
            <div class="itemImage">
                <img class='newImg' ng-src="{{items.imgUrl}}" alt="picofuglything">
            </div>
            <br>
            <br>
            <br>
        </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="app.js"></script>

</html>