.mainBody {
    margin: auto;
    width: 80%;
    height: 100px;
    background-color: deepskyblue;
}
.input {
    margin-left: 10%;
    margin-top: 5%;
    width: 20%;
}
.submitBtn {
    text-align: center;
    margin-right: 45%;
    margin-left: 45%;
    margin-top: 5%;
    background-color: gold;
    box-shadow: 5px 5px 5px;
}
.itemsBody {
    margin-top: 10%;
    float: none;
    text-align: center;
}
.itemImage {
    margin: auto;
    float: none;
    text-align: center;
}
.newImg {
    max-width: 35%;
    max-height: 40%;
    
}