p {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    margin-left: 20px;
    
}
h1 {
    font-family: fantasy;
    font-size: 45px;
    text-align: center;
}
h2 {
    font-family: fantasy;
    font-size: 30px;
    text-align: center;
}
#beer1 {
    display: inline-block;
    height: 100%;
    width: 100%;
}

ul {
    background-color: darkseagreen;
}

body {
    background-color: beige;
    font-family: monospace;
}
ol {
    background-color: darkseagreen;
}
p4 {
    text-align: left;
}