@import url('https://fonts.googleapis.com/css?family=Pangolin');
header {
	background-color: darkolivegreen;
	height: 5%;
	width: 100%;
	text-align: center;
	word-spacing: 40px;
}
body {
	color: white;
	font-family: "Pangolin", sans-serif !important;
	height: 1000px;
	background-image: url(img/wallpaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 65%;
}

a {
	color: white !important;
	text-decoration: none;
	font-family:  "Pangolin";
	font-size: 40px;
	letter-spacing: 4px;
	margin: auto;
}
.landingMain {
	color: darkolivegreen;
	background-color: beige;
	border-radius: 40px;
	width: 60%;
	height: 30%;
	margin-left: 2%;
	margin-top: 2%;
	box-shadow: 1px 1px 1px 1px;
	padding: 4%;
	font-size: 20px;
}
