<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
<link rel="stylesheet" href="styles.css">
<div class="flexContainer">
	<div class="ponyContainer" ng-repeat="pony in ponies">
		<div class="ponyCard z-depth-5">
			<h4 class="ponyTitle flow-text">{{pony.name}}</h4>
			<div class="imgContainer">
				<img class="cardImage" src="{{pony.imgUrl}}">
			</div>
			<h6 class="subtitle">Submitted by: {{pony.username}}</h6>
			<hr>
			<a class="wiki" href="https://en.wikipedia.org/wiki/List_of_My_Little_Pony:_Friendship_Is_Magic_characters#{{pony.name}}">WIKI</a>
			<input type="button" value="Delete" class="waves-effect waves-light btn pink" ng-click="delBtn(pony._id)">
		</div>
	</div>
</div>