body {
	background: url(img/ponypaper.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	height: 1500px;
	background-attachment: fixed;
}

.inputForm {
	text-align: center;
	vertical-align: middle;
	margin: auto;
	margin-top: 2%;
	width: 80%;
}

.input-field {
	margin: auto;
	width: 70%;
	background-color: papayawhip;
	color: rebeccapurple;
	font-size: 20px;
}

header {
	text-align: center;
	margin-top: 4%;
	font-size: 4em;
	text-decoration: underline;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0, 255, 255, 0.7);
	text-shadow: 2px 2px 2px #E85A9D;
}

.submitBtn {
	text-align: center;
	margin: auto;
}

.btnContainer {
	margin-top: 2%;
	text-align: center;
}

.flexContainer {
	display: inline-flex;
	align-items: flex-start;
	width: 100%;
	flex-wrap: wrap;
}

.ponyCard {
	display: inline-grid;
	background-color: papayawhip;
	color: rebeccapurple;
	padding: 2%;
	text-align: center;
	width: 300px;
	border-radius: 14px;
	margin: 10px;
}

.cardImage {
	max-width: 80%;
}

.wiki {
	margin-right: 10%;
}

.imgContainer {
	height: 350px;
}

h1,
h2 {
	background-color: rgba(0, 255, 255, 0.7);
	text-shadow: 2px 2px 2px #E85A9D;
}