@font-face {
    font-family: "Cormorant";
    src: url(Cormorant-Regular.ttf);
}

body {
    font-family: "Cormorant";
    background: url("homebackground.png") repeat;
}

.header {
    color: #40516d;
    background: url(headerimg.jpg) no-repeat center;
    background-color: beige;
    height: 400px;
    width: 100%;
    text-align: center;
    font-size: 100px;
    text-decoration: none;
    letter-spacing: 35px;
    text-shadow: 1px 1px #000000;
}

.introsection {
    height: 200px;
    width: 100%;
    text-align: center;
    font-size: 22px !important;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 50%;
    margin-left: 25.5%
}

.item {
    width: 100%;
}

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    width: 300px;
    height: 55px;
    margin-left: 0%;
    margin-top: 0%;
    font-size: 20px;
    border-color: none;
    float: center;
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #40516d;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-bounce-to-bottom:hover,
.hvr-bounce-to-bottom:focus,
.hvr-bounce-to-bottom:active {
    color: white;
}

.hvr-bounce-to-bottom:hover:before,
.hvr-bounce-to-bottom:focus:before,
.hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.hometable{
    background-color: #afc47b;
    height: 950px;
    width: 90%;
    margin: 5%;
    padding: 5%;
}
.panel1 {
    color: #40516d;
    background-color: beige;
    height: 200px;
    width: 40%;
    float: left;
    margin: 0%;
    padding: 3%;
    font-size: 35px;
    text-shadow: 1px 1px #000000;
    letter-spacing: 3px;
    text-align: center;
}
.panel2 {
    background: url("5.jpg") no-repeat;
    background-size: 100% 100%;
    background-color: none;
    height:65%;
    width: 60%;
    float: right;
    margin:0px;
    padding: 3%;
    position: relative;
}
.panel3 {
    background: url("textured_stripes.png") repeat;
    background-color: none;
    height: 75%;
    width: 40%;
    float: left;
    margin: 0px;
    padding: 3%;
    font-size: 22px;
    text-align: center;
}
.panel4 {
    background: url("7.jpg") no-repeat;
    background-size: 100% 100%;
    background-color: none;
    float: right;
    height:35%;
    width: 60%;
    margin:0%;

}
.homebody {
    background: url("homebackground.png") repeat;
}
.homeimagecontainer{
    background-color: #afc47b;
    height: 1200px;
    width: 90%;
    margin: 5%;
    padding: 5%;
}
.thumbnails {
    max-height: 225px !important;
}
.buttonmodal {
    text-align: center;
    margin-right: 24%;
}