.colorblock {
    background-color: black;
    height: 300px;
    width: 300px;
    display: inline-block;
}

.colorblock:hover,
.toBlue {
    background-color: blue;
    height: 300px;
    width: 300px;
    display: inline-block;
}

.colorblock:active,
.toRed {
    background-color: red;
    height: 300px;
    width: 300px;
    display: inline-block;
}

.colorblock2 {
    background-color: yellow;
    height: 300px;
    width: 300px;
    display: inline-block;
}

.colorblock3 {
    background-color: green;
    height: 300px;
    width: 300px;
    display: inline-block;
}

.colorblock4 {
    background-color: darkorange;
    height: 300px;
    width: 300px;
    display: inline-block;
}