body {
    background-color: #111111;
}
h1 {
    color: #E2E80F;
    text-align: center;
    font-size: 40px;
}
p {
    color: #eeeeee;
    font-size: 19px;
    line-height: 1.5;
}
.credits{
    text-decoration: underline;
    color: #49DAFF;
}
#film-description {
    font-size: 14px;
    font-style: italic;
}